.c-extoast {
	.x-window-header {
		padding-left: 10px;
	}
	.x-window-header-title {
		padding: 0;
	}
	.x-title-text {
		padding: 7px 10px 7px 5px;
	}
	.x-tool-img {
		background-color: inherit !important;
		opacity: 0.5;
	}
	ul {
		margin: 0;
		padding: 0 0 0 15px;
	}
}
@mixin extoast-type($type, $background, $color) {
	.c-extoast.c-extoast--#{$type} {
		border-color: darken($background, 5);
		box-shadow: rgba($background, 0.5) 0 2px 2px;
		.x-window-header {
			background: $background;
			border-color: darken($background, 5);
		}
		.x-window-header-title {
			color: $color;
		}
		.x-tool-img {
			color: $color;
		}
		.x-title-icon {
			color: $color !important;
		}
		.x-window-body {
			background: lighten($background, 5);
			color: $color;
		}
	}
}
@include extoast-type('error', #ffbaba, #d8000c);
@include extoast-type('info', #bde5f8, #00529b);
@include extoast-type('success', #dff2bf, #4f8a10);
@include extoast-type('warning', #feefb3, #9f6000);